.contact {
    #contact_map {
        height: 500px;
        width: 100%;
        z-index: 1;
    }

    .map {
        position: relative;

        .address {
            @include media-breakpoint-up(md) {
                width: 400px;
                position: absolute;
                top: 51px;
                right: 10px;
                z-index: 2;
            }

            li {
                cursor: pointer;
                background-color: #fff;
                padding: 15px;
            }

            li + li {
                border-top: 1px solid #ddd;
                padding-top: 1rem;
            }
        }
    }
    .box-1 {
        position: relative;
        border-top: 3px solid $color_fpt_orange;
        border-bottom: 3px solid $color_fpt_orange;
        padding: 20px 0;
        &:before,
        &:after {
            position: absolute;
            content: "";
            top: 0;
            bottom: 80%;
        }

        &:before {
            border-left: 3px solid $color_fpt_orange;
            left: 0;
        }

        &:after {
            border-left: 3px solid $color_fpt_orange;
            right: 0;
        }

        div {
            &:before,
            &:after {
                position: absolute;
                content: "";
                bottom: 0;
                top: 80%;
            }

            &:before {
                border-left: 3px solid $color_fpt_orange;
                left: 0;
            }

            &:after {
                border-left: 3px solid $color_fpt_orange;
                right: 0;
            }
        }
    }
}
